<!-- The Modal -->
<div class="modal" id="registerModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form #registerForm ="ngForm" (ngSubmit) ="register(registerForm.value)">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Register</h4>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                  <label for="first_name">First Name:</label>
                  <input type="text" class="form-control" placeholder="First name" name="first_name" #firstNameRef="ngModel" required ngModel>
                  <div *ngIf="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched)" class="alert alert-danger">
                      <div [hidden]="!firstNameRef.errors.required">
                        First name is required
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Last name" name="last_name" #lastNameRef="ngModel" required ngModel>
                    <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)" class="alert alert-danger">
                        <div [hidden]="!firstNameRef.errors.required">
                          Last name is required
                        </div>
                      </div>
                  </div>  
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" #emailRef="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control"  placeholder="Email" name="email" ngModel>
                  <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
                    <div [hidden]="!emailRef.errors.required">
                      Email is required.
                    </div>
                    <div [hidden]="!emailRef.errors.pattern">
                      Enter valid email address.
                    </div>
                  </div>
                </div>
                
            </div>
  
            <!-- Modal footer -->
            <div class="modal-footer text-left">
              <div class="pull-left">
                <button type="submit" class="btn btn-primary" [disabled]=!(registerForm.form.valid) >Register</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>